@CHARSET "UTF-8";
.nav-1 {
	height: 42px;
	background-color: #2a95de;
	width: 100%;
	border-top: 1px solid #258bd6;
	border-bottom: #258bd6;
	margin-bottom: 20px;
	box-shadow: 0 2px 4px #ddd;
	-moz-box-shadow: 0 2px 4px #ddd;
	-webkit-box-shadow: 0 2px 4px #ddd
}
.nav-2 {
	height: 46px;
	background: url(/static/passpc-base/img/hdbg.png?v=85016252.png)
		repeat-x 0 0;
	width: 100%
}

.mod-nav {
	position: relative;
	width: 980px;
	margin-left: auto;
	margin-right: auto
}

.page-type {
	color: #333;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	margin-top: 14px;
	margin-left: 78px
}

.page-type-notab {
	color: #333;
	font-size: 14px;
	font-weight: bold;
	float: left;
	margin-left: 70px;
	line-height: 46px;
	display: inline
}

.mod-nav .page-type,.mod-nav .nav-list {
	float: left
}

.mod-nav .list-item {
	float: left;
	margin-right: 10px
}

.mod-nav .list-item a {
	padding-left: 20px;
	padding-right: 20px;
	float: left
}

.mod-nav .list-item a span {
	height: 42px;
	width: 80px;
	line-height: 42px;
	float: left;
	color: #fff;
	text-align: center;
	font-size: 18px;
	font-family: \5fae\8f6f\96c5\9ed1, \9ed1\4f53
}

.mod-nav .list-item a:hover {
	background: #1380cb;
	box-shadow: inset 0 0 5px #107dc7;
	-moz-box-shadow: inset 0 0 5px #107dc7;
	-webkit-box-shadow: inset 0 0 5px #107dc7
}

.page-title,.page-tab {
	height: 100%
}

.page-tab {
	display: block
}

.page-tab:link,.page-tab:visited,.page-tab:hover,.page-tab:active {
	color: #000
}

.index .list-item-index .page-tab,.ucenter .list-item-ucenter .page-tab,.reset .list-item-reset .page-tab,.secure .list-item-secure .page-tab,.associate .list-item-associate .page-tab
	{
	background: #1380cb;
	box-shadow: inset 0 0 5px #107dc7;
	-moz-box-shadow: inset 0 0 5px #107dc7;
	-webkit-box-shadow: inset 0 0 5px #107dc7
}

.mod-nav .feedback-link {
	float: right;
	line-height: 46px;
	text-decoration: underline
}

.mod-nav .app-download {
	display: block;
	position: absolute;
	right: 0;
	top: -36px;
	width: 115px;
	height: 80px;
	background:
		url(/static/passpc-security/img/ucenter/appdownload_bg.png?v=d8a13730.png)
		no-repeat;
	z-index: 1
}

.mod-nav .app-download:hover {
	background-position: 0 -80px
}

.mod-bread-nav {
	margin-top: 30px;
	height: 40px;
	background: #fafafa;
	line-height: 40px;
	padding-left: 20px;
	margin-bottom: 20px
}

.mod-bread-nav a.nav-bread {
	font-size: 14px
}

.mod-bread-nav .nav-gt {
	font-family: STHeiti, "瀹嬩綋";
	font-size: 14px
}

.mod-bread-nav a.nav-bread-nolink {
	color: #666;
	cursor: default
}

.mod-bread-nav a.nav-bread-last:hover {
	color: #666
}

.mod-confirm {
	width: 454px;
	border: 1px solid #ccc
}

.mod-confirm .title {
	border-width: 1px 0;
	border-style: solid;
	border-color: #f2f2f2;
	background: #fcfcfc;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 20px 10px
}

.mod-confirm .dialog-txt {
	padding-top: 46px;
	text-align: center
}

.mod-confirm .console {
	margin-top: 46px;
	margin-bottom: 20px
}

.mod-confirm .btn-yes,.mod-confirm .btn-no {
	width: 108px;
	border-width: 1px;
	border-style: solid;
	height: 31px
}

.mod-confirm .btn-yes {
	background: #ebebeb;
	border-color: #cfcfcf;
	margin-left: 110px;
	margin-right: 15px;
	_display: inline
}

.mod-confirm .btn-yes .btn-txt {
	background-color: #ebebeb
}

.mod-confirm .btn-no {
	background: #4995e0;
	border-color: #4388cd
}

.mod-confirm .btn-txt {
	display: block;
	border-width: 1px 0 0 1px;
	border-style: solid;
	text-align: center;
	font-size: 14px;
	line-height: 30px;
	width: 100%;
	height: 100%;
	cursor: pointer
}

.mod-confirm .btn-yes .btn-txt {
	border-color: #fff;
	color: #000
}

.mod-confirm .btn-no .btn-txt {
	border-color: #5ea8f3;
	color: #fff
}

.mod-confirm .dialog .btn {
	float: left
}

.mod-reset {
	margin-left: 76px;
	color: #333;
	height: 450px
}

.pass-input-container,.m-b15 {
	margin-bottom: 15px
}

.m_l80 {
	margin-left: 80px
}

.mod-changepwd .mod-changepwd-title {
	margin-top: 30px;
	margin-bottom: 0;
	padding-left: 75px;
	font-size: 14px
}

.mod-changepwd .mod-changepwd-choice {
	padding-left: 140px;
	margin-top: 30px
}

.mod-changepwd .mod-changepwd-choice .normal-change {
	margin-right: 120px
}

.mod-changepwd .mod-changepwd-choice .change-choice {
	float: left;
	display: block
}

.mod-changepwd .mod-changepwd-choice .change-choice-img {
	display: block;
	height: 80px;
	text-align: center;
	width: 90px;
	background:
		url(/static/passpc-base/img/sprite_email_phone_icon.png?v=85016252.png)
		no-repeat
}

.mod-changepwd .mod-changepwd-choice a.sms-nomobile .change-choice-img {
	background-position: -86px 0
}

.mod-changepwd .mod-changepwd-choice a.sms-nomobile .change-choice-msg {
	color: #999
}

.mod-changepwd .mod-changepwd-choice a.normal-change .change-choice-img
	{
	background-position: -372px -80px
}

.mod-changepwd .mod-changepwd-choice a.sms-change .change-choice-img {
	background-position: -88px -80px
}

.mod-changepwd .mod-changepwd-choice a.normal-change:hover .change-choice-img
	{
	background-position: -372px -240px
}

.mod-changepwd .mod-changepwd-choice a.sms-change:hover .change-choice-img
	{
	background-position: -88px -240px
}

.mod-changepwd .mod-changepwd-choice .change-choice-msg {
	display: block;
	text-align: center;
	padding-top: 20px;
	height: auto;
	width: 90px
}

.mod-changepwd .mod-changepwd-footer {
	margin-top: 70px;
	margin-bottom: 100px;
	padding-top: 0;
	border-top: 1px dotted #dfdfdf;
	padding-left: 75px
}

.mod-changepwd .mod-changepwd-footer .footer-title {
	height: 45px;
	line-height: 45px;
	font-size: 14px
}

.mod-changepwd .mod-changepwd-footer .footer-list {
	list-style: none
}

.mod-layer-body .mod-layer-main {
	
}

.mod-layer-body .mod-layer-main .content-withmobile {
	
}

.mod-layer-body .mod-layer-main .content-withmobile .layer-head,.mod-layer-body .mod-layer-main .content-withmobile .layer-sms,.mod-layer-body .mod-layer-main .content-withmobile .layer-btn
	{
	padding-left: 45px
}

.mod-layer-body .mod-layer-main .content-withmobile .layer-head .layer-head-span
	{
	font-size: 14px;
	line-height: 24px
}

.mod-layer-body .mod-layer-main .content-withmobile .layer-head .layer-head-a
	{
	color: #333
}

.mod-layer-body .mod-layer-main .content-withmobile .layer-head .layer-head-b
	{
	color: #666
}

.mod-layer-body .mod-layer-main .content-withmobile .layer-sms {
	font-size: 30px;
	color: #328AE2;
	font-weight: bold;
	padding: 22px 0 22px 45px
}

.mod-layer-body .mod-layer-main .content-withmobile .layer-btn {
	margin-bottom: 30px
}

.mod-layer-body .mod-layer-main .content-withmobile .layer-footer {
	border-top: 1px dotted #dfdfdf;
	padding-top: 10px;
	padding-left: 15px
}

.mod-layer-body .mod-layer-main .content-withmobile .layer-footer .layer-footer-list
	{
	line-height: 24px;
	font-size: 12px;
	color: #333
}

.mod-layer-body .mod-layer-main .content-withmobile .pass-button-submit
	{
	font-size: 14px;
	float: left
}

.mod-layer-body .mod-layer-main .content-nomobile .layer-head {
	padding-top: 0;
	padding-left: 0
}

.mod-layer-body .mod-layer-main .content-nomobile {
	padding-top: 10px;
	padding-left: 10px
}

.mod-layer-body .mod-layer-main .content-nomobile .layer-btn {
	padding-top: 20px;
	padding-left: 75px
}

.mod-layer {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	background: #000;
	opacity: .15;
	filter: Alpha(opacity = 15)
}

.mod-layer-body {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1000
}

.mod-layer-body-title {
	background-color: #FCFCFC;
	border: 1px solid #CCC;
	border-width: 1px 1px 0 1px;
	border-bottom: 0
}

.mod-layer-body-title span {
	width: auto;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	font-family: "瀹嬩綋";
	font-weight: bold;
	color: #333;
	text-indent: 20px;
	margin-right: 29px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left
}

.mod-layer-content {
	background-color: #FFF;
	border: 1px solid #CCC;
	border-top: 1px solid #F2F2F2
}

.mod-layer-body-title a {
	width: 14px;
	height: 13px;
	position: absolute;
	right: 10px;
	top: 11px;
	outline: none;
	display: block;
	background: url('/static/passpc-base/img/ui/close.png?v=85016252.png')
		no-repeat 0 0;
	background-position: 0 0
}

.mod-layer-body-title a:hover {
	background-position: 0 -40px
}

.mod-layer-main {
	padding: 10px;
	overflow: hidden
}

.mod-secure .mod-step-nav {
	margin-top: 32px;
	margin-bottom: 20px
}

.mod-secure .mod-step-detail {
	
}

.mod-step-nav .step-info {
	width: 635px;
	height: 30px
}

.mod-step-nav .step-auth-email {
	background:
		url(/static/passpc-security/img/secure/step_auth_email.png?v=c73e1bae.png)
		no-repeat 0 0
}

.mod-step-nav .step-auth-phone {
	background:
		url(/static/passpc-security/img/secure/step_auth_phone.png?v=939acb1a.png)
		no-repeat 0 0
}

.mod-step-nav .step-bind-email {
	background:
		url(/static/passpc-security/img/secure/step_bind_email.png?v=9d6d94f0.png)
		no-repeat 0 0
}

.mod-step-nav .step-bind-phone {
	background:
		url(/static/passpc-security/img/secure/step_bind_phone.png?v=ecfc1fe6.png)
		no-repeat 0 0
}

.mod-step-nav .step-success-email-bind {
	background:
		url(/static/passpc-security/img/secure/step_success_email_bind.png?v=40b4b106.png)
		no-repeat 0 0
}

.mod-step-nav .step-success-email-modify {
	background:
		url(/static/passpc-security/img/secure/step_success_email_modify.png?v=a672a067.png)
		no-repeat 0 0
}

.mod-step-nav .step-success-phone-bind {
	background:
		url(/static/passpc-security/img/secure/step_success_phone_bind.png?v=943a881c.png)
		no-repeat 0 0
}

.mod-step-nav .step-success-phone-modify {
	background:
		url(/static/passpc-security/img/secure/step_success_phone_modify.png?v=e7be4829.png)
		no-repeat 0 0
}

.mod-step-nav .step-unbind-phone-confirm {
	background:
		url(/static/passpc-security/img/secure/step_unbind_phone_confirm.png?v=02fbe5fb.png)
		no-repeat 0 0
}

.mod-step-nav .step-unbind-phone-auth {
	background:
		url(/static/passpc-security/img/secure/step_unbind_phone_auth.png?v=ecfc1fe6.png)
		no-repeat 0 0
}

.mod-step-nav .step-unbind-phone-success {
	background:
		url(/static/passpc-security/img/secure/step_unbind_phone_success.png?v=943a881c.png)
		no-repeat 0 0
}

.mod-step-detail .step-form-tip {
	color: #999;
	font-size: 12px;
	padding-bottom: 20px
}

.mod-step-detail .authcode-container {
	width: 250px;
	margin-bottom: 15px
}

.mod-step-detail .vcode-container {
	margin-bottom: 20px
}

.mod-step-detail .vcode-container .vcode-input {
	float: left;
	width: 97px
}

.mod-step-detail .vcode-container .vcode-label {
	width: 80px
}

.mod-step-detail .vcode-container .vcode-img {
	float: left;
	width: 90px;
	height: 30px;
	border: 1px solid #ddd;
	margin-left: 10px
}

.mod-step-detail .vcode-container .vcode-img-change {
	padding-left: 10px;
	display: block;
	padding-top: 9px;
	float: left;
	text-decoration: underline
}

.mod-step-detail .resend-button-container {
	margin-bottom: 20px
}

.mod-step-detail .step-email-sendinfo {
	font-size: 14px
}

.mod-step-detail .step-email-sendinfo a {
	text-decoration: underline
}

.mod-step-detail .smscode-container {
	width: 93px;
	margin-bottom: 15px
}

.w93 {
	width: 93px
}

.mod-step-detail .step-tip {
	border-top: 1px dotted #e5e5e5;
	margin: 70px 0 140px;
	width: 910px
}

.mod-step-detail .shallow {
	color: #999
}

.mod-step-detail .shallow a {
	color: #3B7FD0
}

.mod-step-detail .step-tip .tip-title {
	margin: 15px 0;
	font-weight: bold;
	font-size: 14px
}

.mod-step-detail .step-tip li {
	margin-top: 12px
}

.mod-step-detail .step-tip li a {
	text-decoration: underline
}

form {
	position: relative
}

.mod-step-detail .step-pop-tip {
	border: 1px solid #c6def0;
	background-color: #f9fcff;
	margin: 25px 2px 10px 10px;
	padding: 0 10px 14px 14px;
	position: absolute;
	width: 230px;
	left: 428px
}

.mod-step-detail .tip-light-icon {
	background:
		url(/static/passpc-security/img/secure/tip.png?v=a398d46f.png)
		no-repeat 0 0;
	_background: url(/static/passpc-security/img/secure/tip-8.png) no-repeat
		0 0;
	display: inline-block;
	height: 19px;
	width: 18px
}

.mod-step-detail .step-pop-tip .tip-title {
	margin: 15px 0 2px;
	font-weight: bold;
	font-size: 13pt
}

.mod-step-detail .step-pop-tip li {
	margin-top: 5px;
	line-height: 200%
}

.mod-step-detail .step-pop-tip li {
	color: #666
}

.mod-step-detail .step-pop-tip li a {
	text-decoration: underline;
	color: #261cdc
}

.mod-step-detail .step-account-select {
	float: left;
	text-align: center;
	width: 73px
}

.mod-step-detail .step-account-select .select-account-icon {
	height: 73px;
	width: 73px;
	background:
		url(/static/passpc-base/img/sprite_email_phone_icon.png?v=85016252.png)
		no-repeat 0 -80px
}

.mod-step-detail a:hover .step-account-select .select-account-icon {
	background-position: 0 -240px
}

.mod-step-detail a.mod-select-active .step-account-select .select-account-icon
	{
	background-position: 0 -160px
}

.mod-step-detail .step-account-select .select-account-info {
	font-size: 12px;
	text-align: center;
	padding-top: 20px;
	color: #377ccb
}

.mod-step-detail .step-email-info,.mod-step-detail .step-form-info {
	font-size: 14px;
	padding-bottom: 20px
}

.mod-step-detail .step-email-select {
	float: left;
	text-align: center;
	width: 220px
}

.mod-step-detail .step-email-select .select-email-icon {
	height: 73px;
	width: 73px;
	margin-left: 70px;
	*margin-left: 0;
	background:
		url(/static/passpc-base/img/sprite_email_phone_icon.png?v=85016252.png)
		no-repeat -95px -80px
}

.mod-step-detail a:hover .step-email-select .select-email-icon {
	background-position: -95px -240px
}

.mod-step-detail a.mod-select-active .step-email-select .select-email-icon
	{
	background-position: -95px -160px
}

.mod-step-detail .step-email-select .select-email-info {
	font-size: 12px;
	text-align: center;
	padding-top: 20px;
	color: #377ccb
}

.mod-step-detail .step-phone-select {
	float: left;
	text-align: center;
	width: 220px
}

.mod-step-detail .step-phone-select .select-phone-icon {
	height: 73px;
	width: 73px;
	margin-left: 70px;
	*margin-left: 0;
	background:
		url(/static/passpc-base/img/sprite_email_phone_icon.png?v=85016252.png)
		no-repeat -192px -80px
}

.mod-step-detail a:hover .step-phone-select .select-phone-icon {
	background-position: -192px -240px
}

.mod-step-detail a.mod-select-active .step-phone-select .select-phone-icon
	{
	background-position: -192px -160px
}

.mod-step-detail .step-phone-select .select-phone-info {
	font-size: 12px;
	text-align: center;
	padding-top: 20px;
	color: #377ccb
}

.mod-step-detail .step-position {
	width: 73px;
	margin-left: 80px
}

.mod-step-detail .step-position .m_l0 {
	margin-left: 0
}

.mod-step-detail .email-container {
	width: 260px;
	margin-bottom: 15px
}

.mod-step-detail .email-container .email-label {
	width: 240px
}

.mod-step-detail .email-timer {
	float: left
}

.mod-step-detail .email-timer-tips {
	float: left;
	margin-left: 10px;
	margin-top: 6px;
	font-size: 14px
}

.mod-step-detail .email-timer-tips a {
	text-decoration: underline
}

.mod-step-detail .emailcode-container {
	width: 93px;
	margin-bottom: 15px
}

.mod-step-detail .emailcode-container .emailcode-label {
	width: 80px
}

.mod-step-detail .phone-container {
	width: 260px;
	margin-bottom: 15px
}

.mod-step-detail .phone-container .phone-label {
	width: 240px
}

.mod-step-detail .phonecode-container {
	width: 93px;
	margin-bottom: 15px
}

.mod-step-detail .phonecode-container .phonecode-label {
	width: 80px
}

.mod-step-detail .result-info {
	text-align: center;
	padding-top: 60px;
	width: 695px
}

.mod-step-detail .result-info .result-message {
	font-size: 18px;
	font-weight: bold
}

.result-message span,.result-message2 span {
	position: relative;
	top: -8px;
	left: 8px
}

.mod-step-detail .result-info .result-goto {
	padding-top: 40px
}

.mod-step-detail .result-info .result-goto a {
	text-decoration: underline
}

.mod-step-detail .result-info .result-message2 {
	font-size: 14px
}

.mod-step-detail .result-info .result-message2-sub {
	margin-top: 30px;
	font-size: 14px;
	text-align: center
}

.mod-step-detail .success-info {
	background: url(/static/passpc-base/img/success_icon.png?v=85016252.png)
		no-repeat 0 54px
}

.mod-step-detail .fail-info {
	background: url(/static/passpc-base/img/error_icon.png?v=85016252.png)
		no-repeat 0 54px
}

.pass-tips {
	width: 360px;
	position: absolute;
	left: 700px;
	top: 200px;
	background: #eeeeed;
	padding-bottom: 1px;
	border-bottom: 1px solid #f9f9f8
}

.pass-tips-arr {
	position: absolute;
	left: -4px;
	top: 10px;
	background:
		url(/static/passpc-base/img/reg_tip_header_t.png?v=85016252.png)
		no-repeat 0 0;
	width: 6px;
	height: 10px
}

.pass-tips-content {
	border: 1px solid #bbb;
	padding: 8px 9px 4px 9px;
	color: #666;
	background: #fff
}

.p-b10 {
	padding-bottom: 10px
}

.pass-tips-streng {
	float: left;
	margin-top: 5px;
	_margin-top: 4px;
	float: left;
	background: #f1f1f1;
	width: 165px;
	height: 5px;
	overflow: hidden;
	margin-left: 15px;
	position: relative
}

.pass-tips-streng span {
	position: absolute;
	left: 0;
	top: 0;
	height: 5px
}

.pass-tips-level-2 {
	width: 55px;
	background: #c00
}

.pass-tips-level-1 {
	width: 110px;
	background: #e9ba54
}

.pass-tips-level-0 {
	width: 165px;
	background: #7bb55d
}

.pass-radio {
	float: left;
	background:
		url(/static/passpc-base/img/ui/radio_normal.png?v=85016252.png)
		no-repeat 0 8px;
	padding-left: 25px;
	cursor: pointer
}

.pass-radio-list {
	position: relative
}

.pass-radio-list .pass-radio-tag {
	display: none;
	position: absolute;
	top: -10px;
	left: 450px;
	width: 265px;
	border: 1px solid #ddd;
	padding: 15px;
	color: #999;
	box-shadow: 1px 1px 1px #efefef;
	-moz-box-shadow: 1px 1px 1px #efefef;
	-webkit-box-shadow: 1px 1px 1px #efefef;
	cursor: default
}

.pass-radion-active .pass-radio-tag {
	display: block
}

.pass-radio-list .pass-radio-tag .arrow {
	display: block;
	position: absolute;
	top: 10px;
	left: -6px
}

.pass-radio-list .pass-radio-tag .arrowa {
	position: absolute;
	top: 0;
	left: 0;
	color: #ddd
}

.pass-radio-list .pass-radio-tag .arrowb {
	position: absolute;
	top: 0;
	left: 1px;
	color: #fff
}

.pass-radion-active {
	background:
		url(/static/passpc-base/img/ui/radio_select.png?v=85016252.png)
		no-repeat 0 8px
}

.pass-button-send table {
	float: left
}

.send-info-bottom {
	font-size: 14px;
	height: 20px
}

.send-info-bottom a {
	text-decoration: underline
}

.pass-error-color {
	color: #da1111
}

.send-info-right {
	float: left;
	margin-left: 10px;
	display: inline;
	line-height: 30px
}

.send-info-right a {
	text-decoration: underline
}