.com_skinad_left {
	position: absolute;
	top: 300px;
	right: 50%;
	margin-right: 490px;
	display: block;
	height: 600px
}
.com_skinad_right {
	position: absolute;
	top: 300px;
	left: 50%;
	margin-left: 490px;
	display: block;
	height: 600px
}

.com_skinad_left.com_skinad_star,.com_skinad_right.com_skinad_star {
	top: 400px
}

#pop_frame {
	-webkit-transform: translate3d(0, 0, 0)
}


a,a:visited {
	color: #2d64b3;
	text-decoration: none
}

.red {
	color: #f60
}

.hidden {
	display: none
}

a.gray,a.gray:visited,.gray {
	color: #999
}

.clear {
	clear: both;
	height: 0;
	font: 0/0 Arial;
	visibility: hidden;
	line-height: 0
}

.orange {
	color: #ff7f3e
}

.orange:hover {
	color: #ff7f3e
}

.head_bright {
	clear: both;
	_zoom: 1
}

.container_bright {
	clear: both;
	_zoom: 1
}

.content_top {
	width: 980px;
	margin: 0 auto;
	padding-top: 10px;
	min-height: 5px;
	_height: 5px
}

.wrap_bright .content_top_region {
	margin: 10px 0
}

.content {
	width: 978px;
	margin: 0 auto;
	border: solid 1px #dacec5;
	border: solid 1px rgba(0, 0, 0, 0.1)
}

.forum_content {
	background:
		url(http://tb2.bdstatic.com/tb/static-frs/img/frs_bright/images_bmg/f_content_bg_fa2b3027.png)
		repeat-y;
	border-bottom: solid 1px #e4e6eb
}

.main {
	width: 739px;
	float: left;
	zoom: 1
}

.editor_wrap_bright {
	_overflow: hidden;
	_width: 958px
}

.pager {
	border-top: 0;
	padding: 12px 0 30px 15px;
	float: left
}

.pager a,.pager span {
	margin-top: 5px
}

.pager a:visited {
	color: #0000cd
}

.frs_sgp_tower_ad #sgp_top_frame {
	margin-right: 0
}

.th_footer_2 {
	line-height: 18px;
	padding-right: 238px
}

.btn_tousu {
	float: right;
	width: 50px;
	margin-top: 7px;
	margin-top: 8px\9;
	margin-right: 18px
}

.editor_wrap_bright .frs_rich_editor {
	padding: 10px 0 0 10px
}

.toggle_old,.toggle_old:hover {
	display: block;
	float: right;
	margin: 19px 19px 0 0;
	color: #666
}

.forum_foot {
	background:
		url(http://tb2.bdstatic.com/tb/static-frs/img/frs_bright/images_bmg/f_editor_b77597eb.jpg)
		repeat;
	padding-bottom: 26px;
	position: relative
}

.footer {
	display: none
}

.footer_bright .footer {
	display: block;
	background: 0;
	margin: 7px 0 0;
	color: #999
}

.footer *,.footer a:hover,.footer a:visited {
	color: #999
}

.dimension_code {
	bottom: 397px
}

* html .dimension_code {
	top: expression(documentElement.scrollTop + documentElement.clientHeight -  
		this.offsetHeight-397);
	bottom: auto
}