/* //设置li去点而且排成一排的 */
.userbar ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}


/* 点击展开列表得到 */
.userbar ul li {
	position: relative;
	width: 80px;
}
.userbar ul li a,.userbar ul li a:visited {
	display: block;
	text-align: center;
	text-decoration: none;
/* 	width: 104px; */
	/* color: #000; */
	border-width:0 0 0 0;
	background: #A1D6AC; 
 /* 	<!--li字体的颜色--> */
	line-height: 20px; 
	/* font-size: 11px;
}
